@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400;500;600;700;900&display=swap');

/* Render */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  font-family: 'Be Vietnam', sans-serif;
  overflow-x: hidden;
  font-size: 16px;
  background-color: #ffffff;
  font-weight: 500;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 480px;
  width: 100%;
  margin: auto;
}

/* mobile first */
/* Header mobile*/
.header {
  display: flex;
  margin: 40px;
  z-index: 12;
}

.header__content {
  display: flex;
  flex: row nowrap;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: auto;
  padding: 10px 0;
}

.header__logo img {
  width: 110px;
}

.header__menu {
  display: none;
}

.header__hamburger {
  display: flex;
  align-items: auto;
  padding: 10px 0;
  cursor: pointer;
}

.header__menu ul {
  display: flex;
}

.header__menu ul li {
  list-style: none;
  margin: 0 10px;
}

.header__menu ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.header__menu ul li a:hover {
  color: rgba(36, 46, 82, 0.6);
}

.header__menu ul li a::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 5px;
}

.header__menu ul li a:hover::after {
  background-color: rgba(36, 46, 82, 0.6);
}

.header__button {
  display: none;
}

.header__button button {
  color: #ffffff;
  padding: 10px;
  gap: 10px;
  width: 134px;
  height: 44px;
  background: #8b48bf;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: none;
}

.header__button button:hover {
  background: rgba(139, 72, 191, 0.7);
  color: #ffffff;
  cursor: pointer;
}

/* Hero mobile */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 40px;

  gap: 100px;
}

.hero__img {
  width: 400px;
  height: 340px;
}

.hero__content h1 {
  font-size: 50px;
  font-weight: 700;
  color: #000000;
  text-align: right;
  margin-bottom: 20px;
}

.hero__content p {
  font-size: 16px;
  color: #000000;
  text-align: right;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 157.1%;
  align-self: stretch;
}

.hero__button {
  display: flex;
  justify-content: right;
  margin: 20px 0px;
}

.hero__button button {
  color: #ffffff;
  padding: 10px;
  gap: 10px;
  width: 134px;
  height: 44px;
  background: #8b48bf;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: none;
}

.hero__button button:hover {
  background: rgba(139, 72, 191, 0.7);
  color: #ffffff;
  cursor: pointer;
}

/* section mobile */
/* different */
.different {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: #ffffff;
}

.different__content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  background: #3cddf3;
  padding: 40px 20px;
}

.different__content h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
  align-self: stretch;
}

.different__content p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
  align-self: stretch;
}

/* articles */
.articles {
  display: flex;
  gap: 50px;
  color: #000000;
}

.articles__content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding: 65px 0px 58px 34px;
}

.articles__titles {
  display: flex;
  position: relative;
  height: 44px;
  background-color: rgba(139, 72, 191, 0.3);
}

.articles__button {
  display: flex;
  position: absolute;
  top: 0;
  left: -18px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 10px 25px;
  gap: 10px;
  width: 70px;
  height: 44px;
  background: #8b48bf;
  border-radius: 50px;
  border: none;
}

.articles__content h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  margin-left: 70px;
  align-self: center;
}

.articles__content p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin: 20px 0px 18px 0px;
  align-self: stretch;
  color: #b3b2b7;
}

/* cards best of the month */

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: #000000;
}

.cards__content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding: 40px 20px;
}

.cards__content h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 75px;
  align-self: stretch;
}

.cards__content p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
  align-self: stretch;
}

.cards__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.cards__content button {
  color: #ffffff;
  padding: 10px;
  gap: 10px;
  width: 134px;
  height: 44px;
  background: #8b48bf;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: none;
}

.cards__content button:hover {
  background: rgba(139, 72, 191, 0.7);
  color: #ffffff;
  cursor: pointer;
}

.cards__background {
  position: relative;
  background-color: #fafafa;
  padding-top: 50px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 50px;
}

.cards__background h6 {
  text-align: center;
  font-weight: 700;
  font-size: 16.0714px;
  line-height: 156.6%;
  color: #3f4868;
}

.cards__background p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  align-self: stretch;
  color: #b9b9c1;
}

.cards__img {
  position: absolute;
  top: -30px;
  left: 42%;
}

.cards__card--one {
  display: none;
}

.cards__card--two {
}

.cards__card--three {
  display: none;
}

/* thebest */

.thebest {
  display: flex;
}

.thebest__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px 80px;
  background: #3cddf3;
}

.thebest__content h2 {
  color: white;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 75px;
}

.thebest__content button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 10px;
  gap: 10px;
  width: 134px;
  height: 44px;
  background: #232c50;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: none;
}

/* footer */

.footer {
  display: flex;
}

.footer__content {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0px;
  background: #1e1e26;
}

.footer__content--newsletter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  background: #1e1e26;
}

.footer__content--newsletter input {
  flex: 0 1 auto;
  align-self: auto;
  padding: 10px;
  width: 308px;
  height: 44px;
  background: #ffffff;
  border-radius: 50px;
}

.footer__content--newsletter input:focus {
  outline: none;
}

.footer__content--newsletter button {
  flex: 0 1 auto;
  align-self: auto;
  color: #ffffff;
  padding: 10px;
  width: 63px;
  height: 42px;
  background: #8b48bf;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: none;
}

.footer__content--newsletter button:hover {
  background: rgba(139, 72, 191, 0.7);
  color: #ffffff;
  cursor: pointer;
}

.footer__content--nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 25px 0px 25px 0px;
  align-content: space-between;
  background: #1e1e26;
}

.footer__content--nav ul li {
  display: flex;
  list-style: none;
  margin: 20px 40px;
}

.footer__content--nav a {
  flex: 0 1 auto;
  align-self: auto;
  color: white;
  font-size: 16px;
}

.footer__content--nav a:hover {
  color: #8b48bf;
  cursor: pointer;
}

.footer__content--social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 25px 68px 25px 68px;
  align-content: space-between;
  align-items: center;
  background: #1e1e26;
}

.footer__content--social img {
  flex: 0 1 auto;
  align-self: auto;
  padding: 10px;
  margin: 10px;
  width: 45px;
}

.footer__content--social img:hover {
  cursor: pointer;
}

.footer__content--logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 25px 68px 25px 68px;
  align-content: space-between;
  align-items: center;
  background: #1e1e26;
}

.footer__content--logo img {
  flex: 0 1 auto;
  align-self: auto;
  padding: 10px;
}

.footer__content--copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 25px 68px 25px 68px;
  align-content: space-between;
  align-items: center;
  background: #1e1e26;
}

.footer__content--copyright p {
  flex: 0 1 auto;
  align-self: auto;
  color: #8c8c94;
  font-size: 16px;
}

/* Media Querie 1440x */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 165px;
  }

  .header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .header__button {
    display: flex;
  }

  .header__hamburger {
    display: none;
  }

  /* hero */

  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 0px 80px;
  }

  /* seccion 1 */

  .different {
    display: flex;
  }

  .different__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background: #8b48bf;
    padding: 40px 220px;
  }

  .different__content h2 {
    width: 480px;
  }

  .different__content p {
    width: 450px;
  }

  .articles {
    display: flex;
  }

  .articles__content {
    display: flex;
    flex-direction: column;
    background: #fafafa;
  }

  .articles__content article {
    width: 550px;
  }

  .articles__titles {
    background: #fff;
  }

  .articles__titles button {
    font-size: 18px;
    font-weight: 700;
  }

  .articles__desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background: #fafafa;
  }

  .articles__desktop--down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
  }

  /* section 2 */

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 220px;
  }

  .cards__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards__group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .cards__card--one {
    display: flex;
  }

  .cards__card--two {
    display: flex;
  }

  .cards__card--three {
    display: flex;
  }

  /* the best teams */

  .thebest {
    display: flex;
  }

  .thebest__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 65px 200px;
    gap: 500px;
    background: #8b48bf;
  }

  .thebest__content--text {
    width: 400px;
    padding: 40px 0px 0px 0px;
    align-self: center;
    text-align: left;
  }

  .thebest__content button {
    color: #8b48bf;
    background: #ffffff;
  }

  /* footer */

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__content {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    padding: 50px 150px;
  }

  .footer__content--nav {
    order: 3;
  }

  .footer__content--social {
    order: 2;
    position: absolute;
    left: 150px;
    bottom: 50px;
  }

  .footer__content--social img {
    padding: 0px;
    margin: 5px;
    width: 24px;
  }

  .footer__content--logo {
    order: 1;
    align-self: flex-start;
  }

  .footer__content--copyright {
    order: 5;
    position: absolute;
    right: 20px;
    bottom: 0;
  }

  .footer__content--newsletter {
    order: 4;
    align-self: flex-start;
    margin-top: 50px;
  }
}
